<nav class="navbar navbar-default navbar-fixed-top" id="nav-back">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->


   

      <img src="/static/images/comparo-logo.png" alt="logo placeholder">
      <a class="navbar-brand" href="/" id="brand">Comparo</a>

   

    <!-- Collect the nav links, forms, and other content for toggling -->
  <!--   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
<!--       <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="modal" href="#signup-modal" id="register-form-link">Sign-Up</a></li>
        <li><a data-toggle="modal" href="#login-signup-form" id="login-form-link">Login</a></li>
      </ul> -->

<!--     </div>/.navbar-collapse       -->
  </div>
</nav>


