<!DOCTYPE html>
<html lang="en">
  <% include ./_head.ejs %>
  <body>

    <% include ./_navbar.ejs %>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Make a List</h1>
        <div class="lead">Share  with Friends</div>
        <a class="btn btn-lg" data-toggle="modal" href="#ComparoModal">Start a List</a>  
        
      </div>
    </div>

    <!-- Modals -->

    <div class="modal fade" id="ComparoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Comparo List</h4>
          </div>
          <div class="modal-body">
            <form role = "form" id="main-form"> 
              <div class="form-top-matter">
                 <div class = "form-group">
                    <label for = "title">Title</label>
                    <input type = "text" name = "title" class = "form-control" placeholder = "Choose a title for this list" id="modal-title"required>
                 </div>
                 <div class = "form-group">
                    <label for = "blurb">Your Instructions or Question</label>
                    <textarea class = "form-control" name = "blurb" rows = "3" placeholder = "How will the person who gets your link know what to do once they see your links?" id="modal-blurb"></textarea>
                 </div>
              </div>    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close
            </button>
            <input class="btn btn-default" id="submitComparo" type="submit" value="Submit Comparo">
          
          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
  </body>
</html>