<!DOCTYPE html>
<html lang="en">
  <% include ./_head.ejs %>
  <body>
    <% include ./_navbar.ejs %>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>CLUMP</h1><br>
        <h1>YOUR</h1><br>
        <h1>LINKS</h1>
        <div class="lead">Share them from one place</div>
      </div>
    </div>
    <div class="row" id="start-here-div">
      <a class="btn btn-lg" data-toggle="modal" href="#ComparoModal" id="start-here-link">Start   Here</a>  


    <!-- Modals -->

    <div class="modal fade" id="ComparoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/static/images/comparo-logo.png" alt="logo placeholder">
            <h4 class="modal-title" id="myModalLabel">Make a Comparo List</h4>
          </div>
          <div class="modal-body">
            <form role = "form" id="main-form"> 
              <div class="form-top-matter">
                 <div class = "form-group">
                    <label for = "title">Title it:</label>
                    <input type = "text" name = "title" class = "form-control" placeholder = "Choose a title for this list (Required)" id="modal-title"required autocomplete="off">
                 </div>
                 <div class = "form-group">
                    <label for = "blurb">Does it need any explanation?</label>
                    <textarea class = "form-control" name = "blurb" rows = "3" placeholder = "Will the person who gets your link know what to do with your links? (Optional)" id="modal-blurb" autocomplete="off"></textarea>
                 </div>
              </div>    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close
            </button>
            <input class="btn btn-active" id="submitComparo" type="submit" value="Create">
          
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
  </body>
</html>