<!DOCTYPE html>
<html lang="en">
  
  <% include ./_head.ejs %>

  <body>
    <% include ./_navbar.ejs %>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6"> 
        <h1>Single Comparo Page</h1>
       
      </div>
      <div class="col-sm-3"></div>
    </div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
  </body>
</html>